<?xml version="1.0"?>
<robot name="k_crane" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera_macro" params="parent prefix xyz rpy">


	<joint name="${prefix}_joint" type="fixed">
		<parent link="${parent}"/>
		<child  link="${prefix}"/>
		<axis xyz="1 0 0" />
        <origin xyz="${xyz}" rpy="${rpy}"/> 
		</joint>

		<link name="${prefix}">
			<!-- <origin xyz="${xyz}" rpy="${rpy}"/> -->
			<visual>
			    <!-- <origin xyz="${xyz}" rpy="0 0 0"/> -->
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.2 0.05 0.1"/>
				</geometry>
			</visual>

			<inertial>
			 	<origin xyz="0 0 0" rpy="0 0 0"/>
				<mass value="0.25"/>
				<geometry>
					<box size="0.2 0.05 0.1"/>
				</geometry>
				<inertia
					ixx="0.001"
					ixy="0.001"
					ixz="0.001"
					iyy="0.001"
					iyz="0.001"
					izz="0.001"/>
			</inertial>

			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.2 0.05 0.1"/>
				</geometry>
			</collision>
		</link>



    <gazebo reference="${prefix}">
  <material>Gazebo/Red</material>
  <gravity>true</gravity>
    <sensor type="camera" name="${prefix}">
    <update_rate>20.0</update_rate>
      <camera name="${prefix}">
      <pose>0 0 0 0 0 0</pose>
      <horizontal_fov>1.5708</horizontal_fov>
      <image>
        <width>752</width>
        <height>480</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>5</near>
        <far>100</far>
      </clip>
    </camera>
    <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
      <alwaysOn>true</alwaysOn>
      <updateRateHZ>20.0</updateRateHZ>
          <cameraName>camera</cameraName>
          <imageTopicName>/cam0/image_raw</imageTopicName>
          <cameraInfoTopicName>/cam0/camera_info</cameraInfoTopicName>
          <frameName>cam0</frameName>
      <hackBaseline>0.0</hackBaseline>
      <Cx>363.0</Cx>
      <Cy>248.1</Cy>
      <Fx>461.6</Fx>
      <Fy>460.3</Fy>
      <distortionK1>0</distortionK1>
      <distortionK2>0</distortionK2>
      <distortionP1>0</distortionP1>
      <distortionP2>0</distortionP2>
    </plugin>
  </sensor>
</gazebo>




    <!-- <gazebo reference="${prefix}">
    <material>Gazebo/Red</material>
	<gravity>true</gravity>
    <sensor type="camera" name="${prefix}">
        <update_rate>20.0</update_rate>
        <camera name="${prefix}">
        <pose>0 0 0 0 ${radians(0)} ${radians(0)}</pose>
        <horizontal_fov>1.5708</horizontal_fov>
        <image>
          <width>752</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>5</near>
          <far>200</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.000</stddev>
        </noise>
      </camera>

        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRateHZ>20.0</updateRateHZ>
          <cameraName>camera</cameraName>
          <imageTopicName>/cam0/image_raw</imageTopicName>
          <cameraInfoTopicName>/cam0/camera_info</cameraInfoTopicName>
          <frameName>cam0</frameName>
           <hackBaseline>0.00</hackBaseline>
        <Fx>376.0</Fx>
        <Fy>376.0</Fy>
        <Cx>376.0</Cx>
        <Cy>240.0</Cy>
        <distortionK1>0.01</distortionK1>
        <distortionK2>0.01</distortionK2>
        <distortionK3>0.01</distortionK3>
        <distortionT1>0.01</distortionT1>
        <distortionT2>0.01</distortionT2>
        </plugin>
      </sensor>
    </gazebo> -->
  </xacro:macro> 
</robot>
