<?xml version="1.0"?>
<robot name="dtw_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find lrs_orion_simulator)/xacro/move_macro.xacro" />
  <xacro:include filename="$(find lrs_orion_simulator)/xacro/laser_macro.xacro" />

  <link name="base_link"/>

  <xacro:body_macro parent="base_link" />
  <xacro:laser_macro prefix="front_laser" parent="base_link" xyz="0 0 0.13" rpy="0 ${radians(0)} 0"/> <!--rpy -> xyz axis-->

  <!-- <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/dtw_robot</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo> -->
  <!-- <gazebo>
      <static>false</static>
  </gazebo> -->

</robot>