<?xml version="1.0"?>
<robot name="rope_load_model" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- <xacro:include filename="k_crane.urdf.xacro"/> -->
	<xacro:include filename="payload_foronly.urdf.xacro"/>
	<!-- <xacro:include filename="camera.urdf.xacro"/>
	<xacro:include filename="imu_100.urdf.xacro"/>
	<xacro:include filename="imu_128.urdf.xacro"/> -->

	<link name="base_link"/>

	<xacro:payload_macro parent="base_link"/>
	<!-- <xacro:camera_macro prefix="front_camera" parent="upper_link" xyz="2.563 -1.036 0.329"/>
	<xacro:imu_128_macro prefix="imu_hook" parent="rope4_link" xyz = "0 0 -6.5"/> -->

	<!-- <link name="camera_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<visual>
			<geometry>
				<box size="0.3 0.1 0.1"/>
			</geometry>
		</visual>
	</link>
	<gazebo reference="camera_link">
		<material>Gazebo/Orange</material>
	</gazebo>

	<joint name="camera_joint" type="fixed">
		<parent link="upper_link"/>
		<child  link="camera_link"/>
		<origin xyz="2.563 -1.036 0.329" rpy="0 0 0"/>
	</joint> -->

</robot>
