<launch>
  <!-- load k_crane urdf to ros parameter server as robot_description -->
  <arg name="model" default="$(find k_crane_description)/robots/k_crane_with_payload.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <rosparam file="$(find k_crane_description)/config/joint_names.yaml" command="load"/>
</launch>
