<launch>
  <node pkg="hba" type="calculate_MME" name="calculate_MME" output="screen">
    <param name="file_path" type="string" value="/media/aisl2/aisl_data/catkin_ws/src/pointcloud_registration/kobelco_exp_2024/world_frame_5_pitch_angle_40_and_80_yaw_cycle_slow/pcd/"/>
    <param name="THR_NUM" type="int" value="8"/>
  </node>
</launch>