<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DPerceptionDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
 <userSettings>
		<DPerceptionDemo.Properties.Settings>
   <setting name="SerialCOM" serializeAs="String">
    <value>COM1</value>
   </setting>
   <setting name="preset_c0" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_c1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_c2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_c3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_c4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_c5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_c6" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_c7" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_c8" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_c9" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="preset_p0" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_p1" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_p2" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_p3" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_p4" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_p5" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_p6" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_p7" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_p8" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_p9" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t0" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t1" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t2" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t3" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t4" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t5" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t6" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t7" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t8" serializeAs="String">
    <value/>
   </setting>
   <setting name="preset_t9" serializeAs="String">
    <value/>
   </setting>
   <setting name="f_2_Visible" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="movestep" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="movespeed" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="movemode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="panposition" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="tiltposition" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="presettime" serializeAs="String">
    <value>3000</value>
   </setting>
   <setting name="commandset1" serializeAs="String">
    <value/>
   </setting>
   <setting name="commandset2" serializeAs="String">
    <value/>
   </setting>
   <setting name="commandset3" serializeAs="String">
    <value/>
   </setting>
   <setting name="commandset4" serializeAs="String">
    <value/>
   </setting>
   <setting name="commandset5" serializeAs="String">
    <value/>
   </setting>
   <setting name="tcpipen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SerialRate" serializeAs="String">
    <value>9600</value>
   </setting>
   <setting name="SetSpeedMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="tcpipport" serializeAs="String">
    <value>9000</value>
   </setting>
   <setting name="saved" serializeAs="String">
    <value/>
   </setting>
   <setting name="auto_p1" serializeAs="String">
    <value/>
   </setting>
   <setting name="auto_t1" serializeAs="String">
    <value/>
   </setting>
   <setting name="auto_p2" serializeAs="String">
    <value/>
   </setting>
   <setting name="auto_t2" serializeAs="String">
    <value/>
   </setting>
  </DPerceptionDemo.Properties.Settings>
	</userSettings>
	<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
