<launch>
	<!-- load robot_description of k_crane -->
	<include file="$(find k_crane_description)/launch/k_crane_description.launch"/>

	<!-- we create empty world, changing only the name of the world to be launch -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!--arg name="world_name" value="$(find k_crane_gazebo)/worlds/sim.world"/-->
		<arg name="paused" default="false"/>
		<arg name="use_sim_time" default="true"/>
		<arg name="recording" default="false"/>
		<arg name="debug" default="false"/>
		<!--arg name="physics" value="bullet"/-->
	</include>


	<!-- ros_control k_crane launch file -->
	<include file="$(find k_crane_control)/launch/k_crane_control.launch"/>
</launch>
