<?xml version="1.0"?>
<robot name="k_crane" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="k_crane.urdf.xacro"/>
	<xacro:include filename="camera.urdf.xacro"/>
	<xacro:include filename="imu_128.urdf.xacro"/>

    <!-- down "3 0 2"/>     up "13.3672 0 14.2449" -->
	<xacro:camera_macro prefix="front_camera" parent="upper_link" xyz="2.563 -1.036 0.329"/>
	<xacro:imu_128_macro prefix="imu_hook" parent="boom_link" xyz = "13.3672 0 14.2449"/>
    <xacro:imu_128_macro prefix="imu_hook_down" parent="boom_link" xyz = "1.5 0 1.5"/>


	<link name="camera_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<visual>
			<geometry>
				<box size="0.3 0.1 0.1"/>
			</geometry>
		</visual>
	</link>
	<gazebo reference="camera_link">
		<material>Gazebo/Orange</material>
	</gazebo>

	<joint name="camera_joint" type="fixed">
		<parent link="upper_link"/>
		<child  link="camera_link"/>
		<origin xyz="2.563 -1.036 0.329" rpy="0 0 0"/>
	</joint>


</robot>

