<launch>
  <!--Node to convert the PointCloud2 to PointCloud1-->

	<node pkg="point_cloud_converter" name="point_cloud_converter" type="point_cloud_converter_node" >
		<remap from="points_in" to="/sync_scan_cloud_filtered1"/>
		<remap from="points2_out" to="/sync_scan_cloud_filtered" /> 
		
		<!-- <remap from="points2_in" to="/laser_pointcloud_single2"/>
		<remap from="points_out" to="/laser_pointcloud_single" /> -->
		
	</node>
</launch>