<launch>
    <arg name="dst_directory" default="/media/aisl2/aisl_data/catkin_ws/src/lidar_inertial_slam/graph_slam/data/velodyne_kobelco_2024"/>
    <arg name="points_topic" default="/velodyne_points_time_synchro"/>
    <arg name="odom_topic" default="/odom_crane_structural_info_time_synchro"/>
    <arg name="endpoint_frame" default="velodyne"/>
    <arg name="origin_frame" default="world"/>

    <param name="use_sim_time" value="true"/>

    <node pkg="odometry_saver" type="odometry_saver" name="odometry_saver" output="screen">
        <param name="dst_directory" value="$(arg dst_directory)"/>
        <param name="origin_frame" value="$(arg origin_frame)"/>
        <param name="endpoint_frame" value="$(arg endpoint_frame)"/>
        <remap from="/points" to="$(arg points_topic)"/>
        <remap from="/odom" to="$(arg odom_topic)"/>
    </node>

</launch>
