<launch>
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins_estimator)/../config/vins_rviz_config.rviz" />


<!-- <include file="$(find ultralytics_ros)/launch/tracker.launch"/> -->


    <arg name="config_path" default = "$(find feature_tracker)/../config/crane/realsense_t265_config_kobelco.yaml" />
	  <arg name="vins_path" default = "$(find feature_tracker)/../config/../" />
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="screen" required="true">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen" required="true">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="screen"  required="true">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node>

    <!-- <node name="tf_to_path" pkg="tf_to_trajectory" type="tf_to_path.py">
        <param name="parent_frame_id" value="camera_odom_frame"/>
        <param name="child_frame_id" value="camera_pose_frame"/>
        <param name="out_topic_name" value="/trajectory_realsense2"/>
        <param name="append_rate" value="5"/>
   </node> -->

  <node name="tf_to_path_odm" pkg="tf_to_trajectory" type="odom_to_path.py">
    <param name="frame_id" value="camera_odom_frame"/>
    <param name="topic_name" value="/camera/odom/sample"/>
    <param name="out_topic_name" value="/trajectory_realsense"/>
    <param name="append_rate" value="5"/>
  </node>

    
</launch>
