<?xml version="1.0"?>
<launch>

	<!-- Include gazebo launch file -->
	<include file="$(find c_crane_gazebo)/launch/c_crane_gazebo.launch" />

	<!-- Spawn joy node -->
	<node name="DualShock4" pkg="joy" type="joy_node" respawn="true" output="screen" /> 
	
	<!-- Spawn joytoangle node -->
	<node name="Converter" pkg="k_crane_control" type="ds4toangle" respawn="true" output="screen" />

</launch>
