<launch>

  <!-- <node name="odom_to_pose" pkg="msf_updates" type="odom_to_pose_node.py" output="screen">
    <remap from="input_odom_topic" to="/vins_estimator/odometry"/>
    <remap from="output_pose_topic" to="/vins_mono/pose"/>
  </node> -->
 
  </node>
    <node  name="msf_pose_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
          <!--remap from="msf_core/imu_state_input" to="/imu0" /-->
           <remap from="msf_core/imu_state_input" to="/imu/data" />
           <!--remap from="msf_core/imu_state_input" to="/auk/fcu/imu" /-->
           <!--remap from="msf_core/imu_state_input" to="/mav1/fcu/imu" /-->
           
          <!--remap from="msf_updates/pose_with_covariance_input" to="/bluebird/down/vslam/pose" /-->
          <!--remap from="msf_updates/pose_with_covariance_input" to="/auk/down/vslam/pose" /-->
          <remap from="msf_updates/pose_with_covariance_input" to="/vins_mono/pose" />
          
          <rosparam file="$(find msf_updates)/pose_sensor_vins_mono.yaml"/>
    </node>

    	<node pkg="rosservice" type="rosservice" name="initialize" args="call --wait /msf_pose_sensor/pose_sensor/initialize_msf_scale 1"/>


</launch>
